* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7pt;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 7pt;

    td {
        padding: 0;
        margin: 0;
        vertical-align: top;
    }
}

.top-color {
    background-color: #ffffff;
}

.side-color {
    width: 30mm;
}

header {
    background-color: #ffffff;

    .cornisa {
        overflow: hidden;
        width: 100%;

        .box-logo {
            text-align: left;

            .img-logo {
                width: 20mm;
                margin: 3mm 2.5mm 0 2.5mm;
            }
        }
    }
}

section {
    .container {
        margin-right: 10mm;
        padding-left: 30mm;
        font-size: 0.9em;

        .name-report {
            width: 100%;
            text-align: right;
            padding: 0 3mm;
            background-color: #eeeeee;
            border: 1px solid #DDDDDD;
            border-radius: 2mm;
            overflow: hidden;

            .number {
                font-size: 1.8rem;
                font-weight: 700;
            }
        }

        h1 {
            margin-top: 5mm;
            width: 100%;
            text-align: right;
        }

        h2 {
            margin-top: 5mm;
            margin-bottom: 0mm;

            width: 100%;
        }

        .table-data {
            // width: 100%;
            margin-bottom: 2mm;
            margin-top: 2mm;
            page-break-inside: avoid;


            .concept {
                width: 30mm;
                font-size: 1.0em;
                text-align: right;
                color: #666666;
                padding-right: 2mm;
            }

            .data {
                font-size: 1.0em;
                font-weight: 700;
                text-align: left;
                padding-bottom: 2px;
            }

            .tit-totals {
                text-align: right;
                color: #666666;
                padding: 0 5mm 0 0;
                width: 25%;
            }

            .dat-totals {
                text-align: right;
                color: #000000;
                font-weight: 900;
                font-size: 1.3rem;
                padding: 0 2mm 0 0;
            }

            .tit-figure {
                padding: 2mm 0;
                border-bottom: 2px solid #000000;

            }

            th.prod {
                width: 70mm;
                text-align: center;
            }

            th.pric,
            th.disc {
                width: 15mm;
                text-align: center;
            }

            th.amou {
                width: 20mm;
            }

            th.qnty,
            th.days {
                width: 8mm;
                text-align: center;

            }

            .dat-figure {
                padding: 0.5mm 1.2mm;
                border-bottom: 1px dotted #cccccc;
                border-right: 1px solid #cccccc;
                font-size: 1.0em;


            }

            .tot-figure {
                padding: 1.9mm 1.2mm;
                border-top: 2px dotted #000000;
                font-weight: bold;
            }

            .tot-main {
                padding: 1.0mm 1.2mm;
                font-weight: bold;
            }

            td.prod {
                font-weight: 700;
            }

            td.pric,
            td.disc,
            td.amou {
                text-align: right;
                // background-color: #ffddff;
            }

            td.qnty,
            td.days {
                // background-color: #ffffee;
                text-align: right;
            }

            td.totl {
                text-align: right;

            }


            .retColor {
                color: #CC0000;

                &>td {
                    color: #CC0000;
                    text-decoration: underline;
                }
            }
        }

        .half {
            width: 50%;
        }
    }
}

.obs_frame {
    margin-top: 100px;

    .obs_comments {
        border-bottom: 1px solid #DDDDDD;
        line-height: 1.5em;

        .obs_date {
            font-weight: 900;
            line-height: 1.9em;
            font-size: 0.8em;
        }
    }
}

footer {
    border-top: 1px solid #999999;

    table {
        font-size: 9px;
        color: #999999;
    }

    .table-footer {
        margin-right: 10mm;

        .td-foot {
            height: 15mm;
            padding: 4mm;
        }
    }

    .table-address {
        border-collapse: collapse;
        margin-top: 2mm;
        margin-bottom: 5mm;
        margin-right: 10mm;

        .addData {
            text-align: right;
            padding-right: 2mm;
            font-size: 7pt;
            width: 50mm;
            color: #666666;
        }

        .addIcon {
            text-align: center;
            vertical-align: middle;
        }

        .addColor01 {
            background-color: #8dd8f8;
            width: 7mm;
        }

        .addColor02 {
            background-color: #16c1f3;
            width: 7mm;
        }

        .addColor03 {
            background-color: #00aeee;
            width: 7mm;
        }
    }
}

.rline {
    border-right: 1px solid #cccccc;
}

.bline {
    border-bottom: 1px solid #cccccc;
}

.bline-d {
    border-bottom: 2px solid #000000;
}

.tline {
    border-top: 1px solid #cccccc;
}

.tline-d {
    border-top: 2px solid #cccccc;
}

.rtext {
    text-align: right;
}